<form [formGroup]="adminForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="outline">
    <mat-label>FullName</mat-label>
    <input matInput formControlName="username" required>
    <mat-error>Full Name is Required</mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input matInput formControlName="password" required>
    <mat-error>Password is Required</mat-error>
  </mat-form-field><br>
  <button mat-raised-button type="submit" color="primary">Register</button>
</form>
{{errorMessage}}
