<form class="example-form" [formGroup]="adminForm" (ngSubmit)="onSubmit()">


  <table ><tr>
    <td><mat-form-field class="example-full-width" appearance="outline">
      <mat-label>First name</mat-label>
      <input matInput formControlName="fullname" required>
      <mat-error>Full Name is Required</mat-error>
    </mat-form-field></td>
    <td><mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" required>
      <mat-error>Password is Required</mat-error>
    </mat-form-field></td>
  </tr></table>

  <button mat-raised-button  color="primary" type="submit">Login</button>


</form>
